backend:
  name: git-gateway
  branch: main

media_folder: "images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "products"
    label: "Products"
    folder: "products"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Product Name", name: "title", widget: "string" }
      - { label: "Price", name: "price", widget: "number" }
      - { label: "Category", name: "category", widget: "select", options: ["clothing", "shoes", "accessories", "gifts"] }
      - { label: "Images", name: "images", widget: "image", multiple: true }
      - { label: "Description", name: "description", widget: "text" }
